/*Paleta de cores*/
:root {
    --cor0: #FFFFFF;
    --cor1: #2A8DBB;
    --cor2: rgb(57, 117, 145);
    --cor3: #0DA3E6;
    --cor4: #395866;
    --cor5: #2B363C;
    --cor6: #2E3133;
  }
  

 @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
   /*  background-color: #91959b;
    background: linear-gradient(315deg, rgb(220, 234, 241) 0%, #91959b 30%); */
    background-image: radial-gradient(circle, rgb(121, 121, 121), rgb(151, 151, 151), rgb(124, 147, 151));
    
/*  background-image: url(imagens/background-foto.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
*/
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E3133;
    width: 100%;
    box-shadow: 5px 5px 5px #395866;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: var(--cor0);
    padding: 8px;
}

.btn-nav {
    display: flex;
    color: white;
    margin-left: 40px;
    margin-right: 140px;
}

.logado .btn-nav {
    display: none;
}

.titulo {
    display: flex;
    justify-content: flex-end;
    align-items: center ;
    color: var(--cor0);
    margin-left: 50px;
}

.titulo > a {
    display: flex;
    justify-content: flex-end;
    align-items: center ;
    color: var(--cor0);
    margin-left: 50px;
    text-decoration: none;
}

.icon-user {
    display: none;
}
.logado .icon-user {
    display: block;
}

.icon-logout {
    display: none;
}
.logado .icon-logout {
    display: block;
}

#logo {
    margin-right: 15px;
    height: 35px;
}

.navbar {
    margin: 10px 0px 0px 20px;
    display: flex;
    align-items: center;
}

#search-submit {
    cursor: pointer;
}
#search-input {
    background-color: transparent;
    border: solid;
    border-width: 2px;
    border-color: var(--cor0);
    color: var(--cor0);
    width: 10vw;
    height: 1.5lh;
    border-radius: 5px;
    margin: 0px;
    margin-left: 10px;
}


.btn-cadastrar-conta, .btn-login{
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: var(--cor0); 
    height: 30px;
    width: 90px;
    background-color: transparent;
    color: var(--cor0);   
}
    

.btn-cadastrar-conta:hover, .btn-login:hover{
    background-color: #397591;
    color: var(--cor0);
    cursor: pointer;  
}


.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin-bottom: 20px;
}


.oculto {
    display: none;
}


section#formulario {
    margin-top: 20px;
    padding: 20px;
    width: 70vw;   
    border: 1px solid var(--cor-borda);
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: var(--cor-texto-secundario);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--cor-texto-secundario);
}

/*form input, form select {
    width: 100%;
    height: 3vw;
    margin-bottom: 15px;
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--cor2);
    color: var(--cor0);
}*/

form textarea {
    width: 100%;
    height: 5lh;
    margin-bottom: 15px;
    border: 1px solid var(--cor-borda);
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--cor2);
    color: var(--cor0);
}

form button {
    display: flex;
    align-items: center;
    border-color: var(--cor0); 
    height: 30px;
    width: auto;
    color: var(--cor0);   
    background-color: var(--cor1);
    color: var(--cor0);
    border-radius: 5px;
    border: none;
    padding: 10px;
}

form button span {
    color: var(--cor0);
}

form button:hover {
    background-color: var(--cor2);
    cursor: pointer;
}


.botoes {
    display: flex;
    align-items: center;
    margin-left: 10px;
}


.topico, #topico-sub-forum, #novo-topico {
    background-color: aliceblue;
    height: auto;
    width: 80vw;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#novo-topico {
    display: none;
}
.logado #novo-topico {
    display: block;
}

#formulario-comentario {
    display: none;
}
.logado #formulario-comentario {
    display: block;
}
/* #topico-sub-forum {
    display: flex;
    flex-direction: column;
    align-items: center;
} */


.tema{
    display: flex;
    color: white;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--cor2);
    width: 80vw;
}

.tema > h4 {
    margin-left: 40px;
}

.post-forum, .post-forum-topico, .post-forum-mensagem {
    height: auto;
    margin: 20px 20px 0px 20px;
}

.descricao-topico {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    
  }


.autor-topico {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: italic;
    font-size: 12px;
    font-variation-settings: "wdth" 100;
}

.autor-data-mensagem {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: italic;
    font-size: 12px;
    font-variation-settings: "wdth" 100;
    color: var(--cor2);
}


.link-titulo-topico {
    text-decoration: none;
    color: var(--cor4);
}

.link-titulo-topico:hover {
    color: var(--cor3);
}
  
  
.feedback{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}

#autor { 
    width: auto;
}

#numero-visualizacoes, #numero-respostas {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
   
   
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.material-symbols-outlined >  {
    color: white;
}

.icones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 3vw;
    height: 3vh;
}


.icones > span {
    font-size: medium;
}

.icones > p {
    font-size: 0.85rem;
}



#icon-user{
    color: white;
}

.icon-user {
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.icon-user > p {
    color: white;
    font-family: monospace;
    margin: 0%;
}

#icon-logout{
    color: white;
}

.icon-logout{
    padding-right:  50px;
}


hr {
    color: var(--cor2);
    border-style: dashed;
    margin-left: 20px;
    margin-right: 15px;
}
 



/* Sub-Fórum */
.topico-sub-forum {
    background-color: aliceblue;
    height: auto;
    width: 80vw;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

form label {
    margin: 20px 0 0 10px;
}

textarea.comentario-topico {
    background-color: var(--cor0);
    border-style: solid;
    border-color: var(--cor1);
    border-width: 1px;
    width: 50vw;
    height: 5lh;
    margin: 10px 10px 0px 10px;
    color: var(--cor6);
}
input.titulo-topico {
    background-color: var(--cor0);
    border-style: solid;
    border-color: var(--cor1);
    border-width: 1px;
    width: 50vw;
    margin: 10px 10px 0px 10px;
    color: var(--cor6);
}


#btn-enviar-topico {
    display: flex;
    align-items: center;
    border-color: var(--cor0); 
    height: 30px;
    width: auto;
    color: var(--cor0);   
    background-color: var(--cor1);
    color: var(--cor0);
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 10px;
}

#btn-enviar-topico:hover {
    cursor: pointer;
    background-color: var(--cor2);
}


.tema-sub-forum {
    display: flex;
    justify-content: space-between;
    color: white;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--cor2);
    width: 80vw;
}

.tema-sub-forum > h4 {
    margin-left: 40px;
}


.tema-sub-forum > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: var(--cor0);
    margin: 10px 50px 10px 10px;
}



.autor-data {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.autor-data > p {
    font-style: italic;
    font-size: 0.85rem;
}

.tema-sub-forum-thread {
    display: flex;
    color: white;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--cor2);
    width: 80vw;
}

.tema-sub-forum-thread > h5 {
    margin-left: 40px;
}

.tema-sub-forum-thread > h5 {
    margin: 10px 20px 10px 20px;
}

#titulo-sub-forum {
    color: var(--cor0);
    margin-top: 15px;   
    margin-left: 150px;
    margin-bottom: 0px;
    width: 90vw;
}




/* Thread */
.topico-mensagem  {
    background-color: aliceblue;
    height: auto;
    width: 80vw;
    margin-top: 0px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.tema-topico {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    color: white;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--cor2);
    width: 80vw;
}

.tema-topico > div {
    margin-left: 20px;
    margin-right: 50px;
}


.tema-topico > div > a {
   
    text-decoration: none;
    color: var(--cor0);
   
}



.tema-topico > p {
    margin: 0px 0px 10px 20px;
    padding: 0px 0px 10px 0px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;

}

.tema-topico > h4 {
    margin: 0px 20px 10px 20px;
    padding: 10px 10px 0px 0px;
}

#titulo-thread {
    display: flex;
    justify-content: left;
    text-align: left;
    color: var(--cor0);
    margin-top: 15px;   
    margin-left: 150px;
    width: 90vw;
}

#titulo-thread > a {
    color: var(--cor0);
    margin-right: 10px;
}

#btn-adicionar-comentario {
    border-color: var(--cor0); 
    height: 30px;
    width: 90px;
    color: var(--cor0);   
    background-color: var(--cor1);
    border-radius: 5px;
    border: none;
}

#btn-adicionar-comentario:hover{
    background-color: var(--cor2);
    cursor: pointer;
}


/* #mensagem-topico {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 */

 /* Formulário cadastro de tópico */

 .formulario-topico {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor2);
    background-image: radial-gradient(left, rgb(57, 117, 145), rgb(57, 151, 181), rgb(50, 176, 200));
    width: 60vw;
    margin-top: 50px;
    padding: 0px 10px 20px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #395866;
 }

 .form-topico {
    display: flex;
    flex-direction: column;
    align-items: center;
 }



 .caixa-input-topico-novo {
    background-color: var(--cor0);
    color: var(--cor6);
    height: 5vh;
 }

 .campo-topico {
    width: 50vw;
    background-color: var(--cor0);
    color: var(--cor6);
 }
 
 .caixa-input-topico-novo{
    width: 50vw;
    background-color: var(--cor0);
    color: var(--cor6);
 }

.botoes-form-topico {
    display: flex;    
}

 .btn-enviar-form-topico, .btn-cancelar-form-topico {
    background-color: var(--cor6);
    color: var(--cor0);
    margin-right: 10px;
 }

 .btn-enviar-form-topico:hover, .btn-cancelar-form-topico:hover {
    background-color: var(--cor4);
 }